* {
  margin: 0%;
}
.main {
  width: 50%;
  height: 80vh;
  background-color: blue;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: relative;
  top: 40px;
  left: 100px;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 150px;
  z-index: 20;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  left: 200px;
  top: -50px;
}
