* {
  margin: 0%;
  box-sizing: border-box;
}
.main {
  width: 70%;
  height: 250px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main img {
  width: 25%;
  height: 100%;
}
.main .jedan {
  align-self: flex-start;
  width: 50%;
}
