* {
  margin: 0%;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100px;
  background-color: blue;
}
.header .inheader {
  width: 80%;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.header .inheader li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.header .inheader li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  margin-right: 50px;
  font-size: large;
}
.header .h1 {
  position: relative;
  left: -150px;
  color: white;
  font-weight: bold;
}
.header .levohedaer {
  position: relative;
  right: -150px;
}

.leva {
  width: 60%;
  display: flex;
  position: relative;
  left: 250px;
  top: 100px;
}
.leva .box1 {
  width: 200px;
  height: 200px;
  background-color: rgb(208, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
}
.leva .box1 h1 {
  font-size: 20px;
  margin-bottom: -30px;
  margin-top: -30px;
}
.leva .box1 p {
  text-align: center;
}
.leva .box1 i {
  padding-top: 20px;
}
.leva .box2 {
  width: 200px;
  height: 200px;
  background-color: rgb(208, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
}
.leva .box2 h1 {
  font-size: 20px;
  margin-bottom: -30px;
  margin-top: -30px;
}
.leva .box2 p {
  text-align: center;
}
.leva .box2 i {
  padding-top: 20px;
}
.leva .box3 {
  width: 200px;
  height: 200px;
  background-color: rgb(208, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
}
.leva .box3 h1 {
  font-size: 20px;
  margin-bottom: -30px;
  margin-top: -30px;
}
.leva .box3 p {
  text-align: center;
}
.leva .box3 i {
  padding-top: 20px;
}
.leva .box4 {
  width: 200px;
  height: 200px;
  background-color: rgb(208, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
}
.leva .box4 h1 {
  font-size: 20px;
  margin-bottom: -30px;
  margin-top: -30px;
}
.leva .box4 p {
  text-align: center;
}
.leva .box4 i {
  padding-top: 20px;
}
.leva .prvaleva .box1 {
  margin-bottom: 30px;
  margin-right: 20px;
}

.leva .drugaleva .box2 {
  margin-bottom: 30px;
}

.leva .drugaleva {
  position: relative;
  top: 50px;
  margin-left: 20px;
}
.desna {
  float: right;
  position: relative;
  right: 100px;
  bottom: 300px;
}
.desna img {
  height: 470px;
}

button {
  padding: 15px;
  width: 100px;
  border-radius: 25%;
  border: 0;
}
button:hover {
  background-color: purple;
  color: white;
  font-weight: bold;
}
.footer {
  width: 100%;
  height: 15vh;
  background-color: rgb(44, 44, 68);
  position: relative;
  top: 120vh;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.footer .prvaloptica {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.footer .drugaloptica {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  align-self: flex-end;
}
.footer:hover .prvaloptica {
  animation: left-to-right 2.5s linear forwards infinite alternate;
}
@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  47% {
    background-color: red;
    transform: translateX(50vw);
  }
  53% {
    background-color: green;
    transform: translateY(8vh) translateX(50vw);
  }
  100% {
    background-color: blue;
    transform: translateX(96vw) translateY(8vh);
  }
}

.footer:hover .drugaloptica {
  animation: right-to-left 2.5s linear forwards infinite alternate;
}
@keyframes right-to-left {
  0% {
    transform: translateX(0);
  }
  47% {
    background-color: blue;
    transform: translateX(-50vw);
  }
  53% {
    background-color: green;
    transform: translateY(-8vh) translateX(-50vw);
  }
  100% {
    background-color: red;
    transform: translateX(-96vw) translateY(-8vh);
  }
}
@media (max-width: 599px) {
  .header {
    width: 200%;
    height: 100px;
    background-color: blue;
    font-size: 20px;
  }
  .header .inheader {
    width: 80%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding-top: 25px;
  }
  .header .inheader li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .header .inheader li {
    list-style-type: none;
    display: inline-block;
    margin: 15px;
    margin-right: 0;
    font-size: medium;
  }
  .header .h1 {
    position: relative;
    left: 0;
    color: white;
    font-weight: bold;
  }
  .header .levohedaer {
    position: relative;
    right: 0;
  }
  button {
    padding: 15px;
    width: 100px;
    border-radius: 25%;
    border: 0;
    margin-left: 15px;
  }
  .leva {
    width: 60%;
    display: flex;
    position: relative;
    left: 45vw;
    top: 20vh;
    font-size: 27px;
  }
  .leva .box1 {
    width: 300px;
    height: 300px;
    background-color: rgb(208, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
  }

  .leva .box2 {
    width: 300px;
    height: 300px;
    background-color: rgb(208, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
  }

  .leva .box3 {
    width: 300px;
    height: 300px;
    background-color: rgb(208, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
  }

  .leva .box4 {
    width: 300px;
    height: 300px;
    background-color: rgb(208, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
  }

  .leva .prvaleva .box1 {
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .leva .drugaleva .box2 {
    margin-bottom: 30px;
  }
  .leva .prvaleva {
    position: relative;
    right: -15vw;
  }

  .leva .drugaleva {
    position: relative;
    top: 80vh;
    right: 65vw;
    margin-left: 0;
  }
  .desna {
    float: right;
    position: relative;
    right: 130px;
    top: 110vh;
  }
  .desna img {
    height: 470px;
  }
  .footer {
    width: 200%;
    height: 15vh;
    background-color: rgb(44, 44, 68);
    position: relative;
    top: 255vh;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}
@media (min-width: 600px) and (max-width: 1300px) {
  .header {
    width: 116%;
    height: 100px;
    background-color: blue;
  }
  .header .inheader {
    width: 80%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .header .inheader li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .header .inheader li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    margin-right: 0px;
    font-size: medium;
  }
  .header .h1 {
    position: relative;
    left: -0;
    color: white;
    font-weight: bold;
    padding-top: 25px;
  }
  .header .levohedaer {
    position: relative;
    padding-top: 25px;
    right: -30px;
  }
  button {
    padding: 15px;
    width: 100px;
    margin-left: 10px;
    border-radius: 25%;
    border: 0;
  }
  .desna {
    float: right;
    position: relative;
    right: 100px;
    top: 32vh;
  }
  .desna img {
    height: 470px;
  }
  .leva {
    width: 60%;
    display: flex;
    position: relative;
    left: 25vw;
    top: 18vh;
  }
  .footer {
    width: 120%;
    height: 15vh;
    background-color: rgb(44, 44, 68);
    position: relative;
    top: 130vh;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}
